@media screen and (max-width: 1220px) {

    body{
        margin: 0;
        overflow: hidden;
    }

    .wrapper{
        max-width: 668px;
        margin: 0 auto;
    }

    /* Header starts */

    .header{
        margin-bottom: 0;
        box-shadow: none;
    }

    /* Header ends */

    /* Welcome starts */

    .welcome__img{
        width: 280px;
        height: 254.15px;
        order: 1;
    }

    .welcome__wrapper{
        padding: 158px 0 70px 10px;
        align-items: flex-start;
    }

    .welcome__content{
        align-items: flex-start;
        padding-right: 42px;
        padding-left: 0;
    }

    .welcome__title{
        font-size: 35px;
        padding-bottom: 33px;
    }

    .welcome__text{
        padding-bottom: 35px;
        font-size: 16px;
        line-height: 25px;
    }

    /* Welcome ends */

    /* About starts */

    .about__wrapper{
        display: flex;
        flex-direction: column;
        padding: 40px 0 95px 0;
    }

    .about__content {
        padding-right: 0;
    }

    .about__title{
        font-size: 35px;
        line-height: 46px;
        text-align: center;
        padding:0 100px 50px 100px;
    }

    .about__text{
        font-size: 20px;
        line-height: 30px;
        padding-bottom: 68px;
    }

    .houseplant{
        width: 250px;
        height: 258px;
    }

    /* About ends */

    /* Service starts */

    .service__header {
        display: flex;
        flex-direction: column;
        max-width: none;
        align-items: flex-start;
        padding: 0;
    }

    .service__title{
        font-size: 35px;
        line-height: 46px;
        padding: 60px 412px 40px 0;
    }

    .button{
        margin: 0 38px 40px 0;
        font-size: 20px;
        line-height: 26px;
    }

    .service__pic{
        width: 280px;
        margin-bottom: 30px;
    }

    .pic__text{
        padding: 0 20px 20px 20px;
    }

     /* Service ends */

      /* Prisec starts */

    .prices__wrapper{
        padding: 41px 15px 85px 20px;
    }
    
    .prices__content {
        padding-right: 40px;
    }

    .prices__title{
        font-size: 35px;
        line-height: 42px;
        padding: 40px 0 59px 14px; 
    }

    .prices__button{
        padding: 1px 40px 0 38px;
    }

    .text__call{
        font-size: 25px;
        line-height: 35px;
        padding: 139px 0 28px 0;
    }

    .button__call{
        margin-bottom: 32px
    }

    .call__pic{
        width: 152px;
        height: 174.98px;
    }

     /* Service ends */

      /* Contact starts */

    .contact__content{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .woman {
        order: 2;
        width: 200px;
        height: 248.49px;
        padding: 0 0 0.5px 20px;
    }

    .contact__title{
        padding: 40px 0 100px 0;
    }

    .contact__button{
        margin: 0 0 250px 0;
        padding: 4px 21px;
    }

     /* Contact ends */

      /* Footer starts */

    .footer__wrapper{
        flex-direction: column;
    }

    .footer__data{
        font-size: 20px;
        line-height: 24px;
        margin: 31px 0 15px 0;
        padding: 0;

    }

    .school__link{
        font-size: 20px;
        line-height: 24px;
    }

    .social__list{
        margin-top: 25px;
    }

    .data{
        padding: 0 6px 0 8px;
    }

    .item{
        padding: 0 7px 0 13px;
    }
    /* Footer ends */

}

@media screen and (max-width: 767px) {

    /* burger-menu starts */

    .navigation{
        position: fixed;
        flex-direction: column;
        background-color: #edf2ec;
        width: 100%;
        transition: .2s all linear;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        z-index: 10;
        transform: translateX(100%);
        padding: 40px;
        top: 75px;
        left: 0;
        transition: 1s;
    }

    .navigation.active{
        transform: translateX(0);
        font-size: 30px;
    }

    .burger{
        display: block;  
        cursor: pointer;
        transition: 1s;
    
    }

    .burger.active .second{
        display: none;
    }

    .burger.active .first{
        transform: translateY(11px) rotate(45deg);
    }

    .burger.active .third{
        transform: translateY(-11px) rotate(-45deg);
    }

    /* burger-menu ends */

}

@media screen and (max-width: 380px) {

    
    .wrapper{
        max-width: 330px;
        margin: 0 auto;
    }

    .header{
        padding: 36px 0;
        box-shadow: none;
    }

    .welcome__content{
        padding: 0;
    }

    .welcome__img{
        display: none;
    }

    .welcome__title{
        font-size: 25px;
        line-height: 35px;
        align-items: center;
        padding-bottom: 20px;
    }
    
    .welcome__text{
        padding-bottom: 25px;
    }

    .welcome__button{
        font-size: 10px;
        line-height: 20px;
        padding: 5px 17px;
    }

    .welcome__wrapper{
        padding: 122px 0 24px 0;;
    }

    .about__wrapper{
        padding: 30px 0 37px 0;
    }

    .about__title{
        font-size: 25px;
        line-height: 33px;
        padding: 0 0 13px 0;
    }

    .about__text{
        font-size: 15px;
        line-height: 25px;
        padding-bottom: 5px;
    }

    .houseplant{
        width: 150px;
        height: 147px;
    }

    .service__title{
        font-size: 25px;
        line-height: 33px;
        padding: 32px 143px 36px 0;
    }

    .service__button{
        flex-wrap: wrap;
        margin-bottom: 30px;
    }

    .button{
        width: auto;
        font-size: 15px;
        line-height: 20px;
        padding: 7px 32px;
        margin: 0 10px 9px 0;
        width: 121px;
        height: 35px;
    }

    .pic__title{
        font-size: 20px;
        line-height: 20px;
        padding: 5px 0 13px 0;
    }

    .service__pic{
        margin-bottom: 32px;
        width: 280px;
    }

    .service__pic:last-child{
        margin-bottom: 28px;
    }

    .columns__3{
        justify-content: space-around;
    }

    .pic__text{
        padding: 0px 20px 18px 20px;
    }

    .prices__wrapper{
        flex-wrap: wrap;
        justify-content: center;
        padding: 17px 0 37px 0;
    }

    .prices__title{
        font-size: 25px;
        line-height: 30px;
        text-align: center;
        padding: 0 0 38px 0;
    }

    .prices__button{
        width: 180px;
        height: 49.72px;
        font-size: 15px;
        line-height: 20px;
        padding: 0 30px;
        margin: 14px 22px;
    }

    .prices__button:first-child{
        margin-top: 29px;
    }

    .prices__button:last-child{
        margin-bottom: 29px;
    }

    .prices__content{
        padding: 0 0 19px 0;
    }

    .call__pic{
        display: none;
    }

    .call{
        text-align: center;
    }

    .text__call{
        font-size: 20px;
        line-height: 35px;
        padding: 0 25px 18px 25px;
    }

    .button__call{
        font-size: 15px;
        line-height: 20px;
        padding: 8px 22px;
        margin-bottom: 0;
    }

    .contact__title{
        font-size: 25px;
        line-height: 33px;
        padding: 25px 0 82px 0;
    }

    .contact__button{
        width: 300px;
        height: 50px;
        margin: 0 0 132px 0;
        padding: 4px 17px;
    }

    .woman{
        width: 100px;
        height: 124.25px;
        padding: 0;
    }

    .footer__data{
        margin: 20px 0 15px 0;
    }

    .data{
        padding: auto;
    }

    .item{
        padding: auto;
    }

    .social__list {
        margin-top: 12px;
    }
}
