@media screen and (max-width: 1220px) {

    body{
        margin: 0;
    }

    .wrapper{
    max-width: 668px;
    margin: 0 auto;
    }

    .welcom__img{
        width: 280px;
        height: 254.15px;
        order: 1;
    }

    .welcome__wrapper{
        padding: 40px 0 70px 0;
    }

    .welcome__content{
        align-items: flex-start;
        padding-right: 42px;
        padding-left: 0;
    }

    .welcom__title{
        font-size: 35px;
    }

    .welcom__text{
        padding-bottom: 30px;
        font-size: 16px;
        line-height: 25px;
    }

    .about__wrapper{
        display: flex;
        flex-direction: column;
        padding: 40px 0 95px 0;
    }

    .about__content {
        padding-right: 0;
    }

    .about__title{
        font-size: 35px;
        line-height: 46px;
        text-align: center;
    }

    .about__text{
        font-size: 20px;
        line-height: 30px;
        padding-bottom: 40px;
    }

    .houseplant{
        width: 250px;
        height: 258px;
    }

    .service__header {
        display: flex;
        flex-direction: column;
        max-width: none;
        align-items: flex-start;
        padding: 0;
    }

    .service__title{
        font-size: 35px;
        line-height: 46px;
        padding: 60px 412px 40px 0;
    }

    .button{
        margin: 0 38px 40px 0;
    }

    .service__pic{
        margin-bottom: 38px;
    }

    .pic__text{
        padding-bottom: 20px;
    }

    .prices__wrapper{
        padding-bottom: 88px;
    }
    
    .prices__content {
        padding-right: 40px;
    }

    .prices__title{
        font-size: 35px;
        line-height: 42px;
        padding: 40px 0 50px 0; 
    }

    .text__call{
        font-size: 25px;
        line-height: 35px;
        padding: 139px 0 21px 0;
    }

    .button__call{
        margin-bottom: 46px
    }

    .call__pic{
        width: 152px;
        height: 174.98px;
    }

    .contact__content{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .woman {
        order: 2;
        width: 200px;
        height: 248.49px;
        padding: 0 0 0.5px 0;
    }

    .contact__title{
        padding: 40px 0 100px 0;
    }

    .contact__button{
        margin: 0 0 250px 0;
    }

    .footer__wrapper{
        flex-direction: column;
        padding: 33px 0 18px 0;
    }

    .footer__data{
        padding: 0 0 16px 0;
        font-size: 20px;
        line-height: 24px;
    }

    .school__link{
        font-size: 20px;
        line-height: 24px;
    }

    .social__list{
        margin-top: 16px;
    }

}

@media screen and (max-width: 767px) {
    .header__burger{
        display: block;  
    }

    .header__navigation{
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: #D6E7D2;
        z-index: 10;
        padding: 40px;
    }

    .navigation{
        width: 100%;
        flex-direction: column;
    }

    .navigation__link{
        width: 100%;
        margin-right: 0;
        font-size: 30px;
        line-height: 50px;
    }
        

    
}

@media screen and (max-width: 380px) {
    
}
