html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Inter', sans-serif;
    font-style: normal;
}

.wrapper{
    max-width: 1220px;
    margin: 0 auto;
    padding: 0 15px;
}

/* header styles start */

.header{
    background: #EDF2EC;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 42px 0 42px 0;
    font-family: 'Inika';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 50px;
    margin-bottom: 5px;
}

.header__wrapper{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.logo{
    color: #000000;
    text-decoration: none;
    line-height: 21px;
}

.navigation{
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    cursor: pointer;
    margin-block-start: 0;
    margin-block-end: 0;
}

.navigation__link{
    color: #010201;
    text-decoration: none;
    margin-right: 46px;
}

.navigation__link:hover{
    text-decoration: underline;
}

.link__home{
    font-weight: 700;
}

.color__red{
    color: #E06733;
}

.link__price{
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* header styles end */

/* header burger */

.header__burger{
    display: none;
    width: 40px;
    height: 24px;
    position: relative;
}

.burger__line{
    display: block;
    width: 100%;
    border: 2px solid #717171;
    position: absolute;
    left: 0;
}

.burger__line_first{
    top: 0;
}

.burger__line_second{
    top: calc(33.3% - 2px);
}

.burger__line_third{
    top: calc(66.6% - 2px);
}

.burger__line_four{
    bottom: 0;
}

/* welcom styles start */

.welcome__wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 62px 15px;
}

.welcom{
    background-color: #EDF2EC;
}

.welcome__content{
    font-family: 'Inter';
    font-style: normal;
    order: 1;
    padding-left: 224px;
}


.welcom__title{
    font-weight: 700;
    font-size: 45px;
    line-height: 50px;
    color: #717171;
    padding-bottom: 42px;
    margin-block-start: 0;
    margin-block-end: 0;
}

.welcom__text{
    font-weight: 400;
    font-size: 20px;
    line-height: 35px;
    color: #636060;
    padding-bottom: 48px;
    margin-block-start: 0;
    margin-block-end: 0;
}

.color__green{
    color: #499A18;
}

.welcom__button{
    border: 2px solid #E06733;
    border-radius: 10px;
    cursor: pointer;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
    padding: 14px 27px;
    text-transform: uppercase;
}

.welcom__button:hover{
    background: #E06733;
    transition: .3s ease-out;
    }

.welcom__img{
    width: 448.8px;
    height: 407.36px;
}

/* welcom styles end */

/* about style start */

.about__wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 93px 15px 94px 15px;
}

.about__content{
    padding-right: 153px;
}

.about__title{
    font-family: 'Inika';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 52px;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-bottom: 40px;
}

.about__text{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #636060;
    margin-block-start: 0;
    margin-block-end: 0;
}

/* about styles end */

/* servise styles start */

.service{
    background: #EDF2EC;
}

.service__header{
    display: flex;
    align-items: center;
    justify-content: left;
    padding: 38px 0 90px 0;
    max-width: 1007px;
}

.service__title{
    font-family: 'Inika';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 52px;
    padding-right: 142px;
    margin-block-start: 0;
    margin-block-end: 0;
    }

.button{
    font-family: 'Inika';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    border: 1px solid #E06733;
    border-radius: 5px;
    margin-left: 30px;
    font-size: 20px;
    line-height: 26px; 
    padding: 12px 40px;
    cursor: pointer;
    align-items: center;
    text-align: center;
}

.button:hover{
    background: #E06733;
    color: #000000;
    transition: .3s ease-out;
}

.button:first-child{
    margin-left: 0;
}

.service__button{
    display: flex;
}

.service__pic{
    overflow: hidden;
    font-family: 'Inter';
    font-style: normal;
    text-align: center;
    border: 1px solid #E3E1D5;
    border-radius: 20px 20px 20px 20px;
    margin-bottom: 55px;
}

.columns__3{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.pic__title{
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    padding: 10px 0 10px 0;
    margin-block-start: 0;
    margin-block-end: 0;
}

.pic__text{
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #717171;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-bottom: 36px;
}

/* servise styles end */

/*  styles prices start */

.prices__wrapper{
    display: flex;
    justify-content: space-between;
    font-family: 'Inter';
    font-style: normal;
    color: #000000;
    padding: 40px 15px 115px 15px;
}

.prices__content{
    padding-right: 438px;
    display: flex;
    flex-direction: column;
}

.prices__title{
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-bottom: 60px;
}

.prices__button{
    display: block;
    background: #EDF2EC;
    border-radius: 20px;
    border: 0.5px solid #E3E1D5;
    text-align: left;
    width: 250px;
    height: 50px;
    margin: 32px 41px 32px 41px;
    font-weight: 700;
    line-height: 20px;
    font-size: 20px;
    padding: 0 40px 0 40px;
    font-family: 'Inter';
    font-style: normal;
    color: #000000;
}

.button__all{
    box-sizing: border-box;
    border: 1px solid #E3E1D5;
    border-radius: 20px;
}

.call{
    text-align: right;
}

.text__call{
    line-height: 50px;
    font-weight: 700;
    font-size: 40px;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-bottom: 38px;
}

.button__call{
    box-sizing: border-box;
    background-color: white;
    margin-bottom: 39px;
    font-family: 'Inika';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
    color: #E06733;
    border: 1px solid #E06733;
    border-radius: 5px;
    padding: 12px 33px 12px 30px;
}

.call__pic{
    width: 152px;
    height: 174.99px;
}

/* */

/* */

.contact{
    background: #EDF2EC;
}

.contact__content{
    align-items: flex-start;
    justify-content: left;
    vertical-align: top;
}

.woman{
    order: -1;
    padding: 53px 113px 0 0;
}

.contact__title{
    padding: 0 64px 0 0;
    font-family: 'Inika';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;  
    padding: 60px 64px 0 0;  
    margin-block-start: 0;
    margin-block-end: 0;
}

.contact__button{
    background: #D6E7D2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 40px;
    letter-spacing: 0.05em;
    height: 50px;
    width: 450px;
    text-align: left;
    border: 0.5px solid white;
    margin: 148px 0 0 0;
    font-family: 'Inter';
    color: #717171;
}

/* */
/* */

.footer__data{
    padding: 40px 0 40px 0;
    font-weight: 400;
    font-size: 20px;
    line-height: 50px;
}

.github__link{
    text-decoration: none;
    color: #000000;
}

.school__link{
    text-decoration: none;
    color: #000000;
    font-weight: 400;
    font-size: 20px;
    line-height: 50px;
}

.social__list{
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
}

.item{
    margin-right: 9px 20px; 
}